/*#map {
	height: 640px;
	width: 960px;
	margin: 20px auto;
}*/

path {
	fill: #00BEEB;
	stroke: #FFF;
	stroke-width: 1.5px;
	opacity: .25;
}
/* above is Jana's code, below is my code */
body {
  margin: 0;
}
div#map {
  width: 100%;
  height: 100%;
}

div#search {
  background-color: white;
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: auto;
  height: auto;
  padding: 10px;
}
div#search input {
  width: 200px;
}
div#results {
  font-style: sans-serif;
  color: black;
  font-size: 75%;
}